:root {
  --blue: #24262b;
  --orange: #d67230;
}

#about-us {
  background-color: white;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.about-us-text {
  margin-top: 50px;
  font-size: 35px;
  color: var(--blue);
  width: 70%;
  display: flex;
  align-items: flex-start;
}

.about-us-background {
  position: absolute;
  width: 120%;
  height: 50vh;
  background-color: var(--blue);
  z-index: 0;
  transform: rotate(-7deg);
}

.card-container {
  width: 100%;
  min-height: 60vh;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding: 50px 0;
}

.card {
  position: relative;
  color: #dddddd;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #34363b;
  flex-direction: column;
  height: 400px;
  width: 300px;
  border-radius: 1em;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  z-index: 3;
}

.card-header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 30%;
  font-size: 20px;
}

.card-header a {
  text-decoration: none;
  color: #dddddd;
  margin: 0 10px;
}

.card-header a:hover {
  color: #d67230;
}

.card-header h3 {
  position: relative;
  padding: 5px 0;
}

.card-header h3::after {
  content: "";
  position: absolute;
  background-color: var(--orange);
  height: 2px;
  width: 100%;
  bottom: 0px;
  left: 0px;
}

.card-body {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body img {
  object-fit: cover;
  height: 90%;
  width: auto;
  border-radius: 50%;
  opacity: 60%;
}

.card:hover img {
  opacity: 100%;
}

.card:hover h3 {
  color: white;
}

.card-footer {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-footer button {
  background-color: #d67230;
  color: white;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  border: none;
  width: 40%;
  align-self: center;
}

#about-us-modal-bg {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;
}

#about-us-modal {
  width: 50%;
  height: 25%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  border-radius: 1em;
  z-index: 10;
  animation: modalAnimation 0.5s forwards;
}

@keyframes modalAnimation {
  from {
    transform: scale(0%);
  }
  to {
    transform: scale(100%);
  }
}

@media screen and (max-width: 1000px) {
  #about-us-modal {
    width: 80%;
    height: auto;
    padding: 20px;
  }
}

#about-us-modal-body {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 90%;

}

#about-us-modal-body > p {
  border-top: #24262b dotted 1px;
  padding-top: 20px;
}

#about-us-modal-body > h5 {
  padding-bottom: 20px;
}

#about-us-modal span {
  position: absolute;
  top: 5px;
  right: 10px;
  transform: rotate(45deg);
  font-size: 35px;
  cursor: pointer;
}
