.footer-container {
  width: 100%;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.footer-ul {
  list-style: none;
}

.footer {
  background-color: #24262b;
  padding: 70px;
}
.footer-col {
  padding: 0 15px;
  width: 300px;
}

form {
  display: flex;
  flex-direction: column;
}
form label {
  font-size: 15px;
  font-weight: 500;
  color: white;
}
form input,
form textarea {
  width: 100%;
  padding: 5px;
  margin: 10px 0;
  font-weight: 500;
  border: none;
  resize: none;
  outline: none;
  border-radius: 2px;
}
form button {
  background-color: #d67230;
  color: white;
  padding: 10px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  resize: none;
  outline: none;
  margin-top: 10px;
  border-radius: 2px;
  width: 40%;
  align-self: center;
}
.footer-col h4 {
  font-size: 35px;
  color: white;
  font-weight: 700;
  margin-bottom: 35px;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #d67230;
  height: 2px;
  width: 100px;
}
.footer-col ul li a {
  font-size: 20px;
  text-decoration: none;
  font-weight: 600;
  margin: 20px 0;
  color: #bbbbbb;
  display: block;
  transition: all 0.2s ease;
}
.footer-col ul li a:hover {
  padding-left: 10px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 80px;
  width: 80px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 105px;
  border-radius: 20%;
  color: white;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background: white;
}
.footer-col .social-links i {
  font-size: 50px;
}

@media (max-width: 1040px) {
  .footer-col {
    margin-bottom: 30px;
  }
}
#modal-wrapper {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 10;
}

#modal-content {
  margin: 20px;
  border-radius: 10px;
  width: 500px;
  height: 200px;
  background: white;
  padding: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
#envelope-icon {
  font-size: 80px;
  position: absolute;
  top: 50px;
}
#modal-close-button {
  font-size: 20px;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
#messageSent,
#thankYouMessage,
#invalidEmail {
  font-size: 40px;
  font-weight: 600;
  padding-bottom: 10px;
}
@keyframes envelope {
  0% {
    transform: rotate(0deg);
    left: 10%;
  }
  100% {
    left: 75%;
    transform: rotate(360deg);
  }
}
