header {
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}

.hero-image-wrapper {
  margin-top: 80px;
  margin-bottom: 100px;
  height: calc(100vh - 80px);
  width: 100%;
  position: relative;
}

.hero-image-wrapper img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero-section-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 30px;
  overflow: hidden;
}

.hero-section-overlay h1 {
  text-shadow: 1px 1px 10px whitesmoke;
  color: whitesmoke;
  cursor: default;
  font-weight: bold;
  text-align: center;
}

.hero-section-overlay a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 45px;
  margin-top: 5px;
}

.btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  color: white;
}
