.container-gallery {
  max-width: 760px;
  margin: auto;
  border: #fff solid 3px;
  background: #fff;
  position: relative;
}

.start-image img,
.images img,
.images-two img {
  width: 100%;
}

.images,
.images-two {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in 1 forwards;
}
#modal {
  display: none;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 140%;
  cursor: pointer;
  color:whitesmoke;
}

@media (max-width: 700px) {
  .images,
  .images-two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
  }
}
