.dropbtn {
  background-color: #e97f39;
  padding-bottom: -20px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: black;
  margin-left: 10px;
  font-family: "poppins", sans-serif;
  line-height: 1.5;
}
.dropbtn:hover {
  color: white;
  cursor: pointer;
  transition: all 0.8s ease;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown a:hover {
  color: red;
  cursor: pointer;
  transition: all 0.8s ease;
}

.navbar {
  background-color: #e97f39;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 40px;
  height: 55px;
  z-index: 1;
  transition: 0.5s;
}


.hidden {
  top: -80px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 20px;
}

.nav-link {
  font-size: 20px;
  color: black;
}

.nav-link:hover {
  color: white;
  transition: all 0.8s ease;
}

.logo {
  margin-right: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-logo {
 margin-right: 110px;
  font-size: 30px;
  color: black;
  
    
  }

  .imgX img{
    padding-right: 30px;
  }
  .nav-logo::first-letter{
    color: white;
  }

li {
  list-style: none;
}

a {
  text-decoration: none;
}
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
@media(max-width: 801px){
  .logo {
    margin-left: 0;
     
}
.dropbtn{
  padding-top: 10px;
}
}
@media (max-width: 768px) {
  .nav-menu {
    position: fixed;
    right: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 50%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    
  }
  .imgX{
    display: none;
  }

  .nav-logo{
    margin-right: 0;
  }
  .nav-logo::first-letter{
    color: white;
  }
  .nav-link:hover {
    color: red;
    cursor: pointer;
  }
  .dropbtn {
    display: none;
  }
  .nav-menu.active {
    right: 0;
  }

  .nav-item {
    margin: 53px 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
